@import "/src/assets/styles/variables.sass"

.wrapper
  width: 100%

  background-image: url("../../assets/images/start-background-stars.png")
  background-size: contain
  background-position: -10% 20%
  background-repeat: no-repeat

.main
  width: 1440px
  margin: 0 auto
  margin-top: 78px
  margin-bottom: 88px

.promo
  margin-bottom: 94px

.info
  margin-bottom: 66px