@import "src/assets/styles/mixins.sass"

.wrapper
  padding-bottom: 105px

.headerWrapper
  display: flex
  justify-content: space-between

.title
  @include header(20px)
  margin-bottom: 24px

.tableWrapper
  margin-bottom: 60px