@import "/src/assets/styles/mixins.sass"
  
.registrationForm
  @include form

.title
  @include title

.input
  @include text-input

.error
  @include error

.registrationButton
  @include enterButton

  svg
    stroke: $c-light-grey

  &:hover
    svg
      stroke: $c-primary-green

  &:disabled
    &:hover
      svg
        stroke: $c-light-grey
      

.loginLink
  @include link