@import "/src/assets/styles/variables.sass"

@mixin form
  display: flex
  flex-direction: column
  row-gap: 30px

  width: 400px

  text-align: center

@mixin title
  font-size: 28px

@mixin inputLabel
  display: block

@mixin error
  font-size: 14px
  color: $c-primary-red
  text-align: left

  margin-top: 5px