.wrapper
  display: flex
  flex-direction: column

  width: 1440px

  padding-top: 30px

.returnLink
  display: flex
  align-items: center

  font-size: 18px

  margin-bottom: 36px

.returnLink:hover
  opacity: 0.8

.returnLink:active
  opacity: 0.6

.tariffList
  display: flex
  flex-direction: column

  row-gap: 20px

.tariffInfo
  margin-bottom: 64px