@font-face
  font-family: 'Toxigenesis'
  font-weight: 700
  src: url('../fonts/toxigenesis.ttf') format('truetype')

@font-face
  font-family: 'Library3AM'
  font-weight: 400
  src: url('../fonts/library3am.ttf') format('truetype')