@import "/src/assets/styles/variables.sass"
  
.toolsCategories
  display: flex

.toolsCategory
  display: flex
  align-items: center

  padding: 5px

  border: 1px solid $c-light-grey

  cursor: pointer

  span
    font-size: 14px

  &__active
    color: $c-primary-green
    background-color: $c-transparent-green